langchain
langchain-community
langchain-pinecone
langchain-groq
langchain_experimental
langchain-core
langchain-huggingface
langchain-classic
flask
pypdf
python-dotenv
pinecone[grpc]
sentence-transformers==2.2.2
-e .